.container.pb-3
  .d-grid.gap-3{:style => "grid-template-columns: 1fr 2fr;"}
    .bg-light.border.rounded-3
      = render partial: 'home/common/form'
    .bg-light.border.rounded-3
      = turbo_frame_tag 'city_info'
.container.pb-3
  %hr
  %h2.text-danger= t('dashboard.logs')
  .row
    .col-md-12.col-sm-12
      = turbo_frame_tag 'city_search'
      -# = render partial: 'home/common/my_cities', locals: {my_cities: @my_cities}