.container.pb-3
  .d-grid.gap-3{:style => "grid-template-columns: 1fr 2fr;"}
    .bg-light.border.rounded-3
      = render partial: 'home/common/form'
    .bg-light.border.rounded-3
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
