%table#cities_users.table.table-striped.table-hover
  %thead
    %tr
      %th{scope:'col'}
        = t('table.date')
      %th{scope:'col'}
        = t('table.city')
  %tbody{id:'tbody-cities-users'}
