.container
  %header.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-md-between.py-3.mb-4.border-bottom
    %a.d-flex.align-items-center.col-md-3.mb-2.mb-md-0.text-dark.text-decoration-none{:href => "/"}
      %svg.bi.me-2{"aria-label" => "Bootstrap", :height => "32", :role => "img", :width => "40"}
        %use{"xlink:href" => "#bootstrap"}
    %ul.nav.col-12.col-md-auto.mb-2.justify-content-center.mb-md-0
      = image_tag('logo.png', class:'mb-4', :width => "200" )
    .col-md-3.text-end
      %small.text-primary.me-1
        = current_user.name
      = link_to t('logout.logout'), destroy_user_session_path, class: 'btn btn-danger', data: { turbo_method: :delete }
