- city_presenter = CityPresenter.new(self, city)
.list-group.w-auto
  %label.list-group-item.d-flex.gap-3
    %span.bi-globe
    %span.pt-1.form-checked-content
      %strong= t('city_name')
      %small.d-block.text-muted
        = city_presenter.name
  %label.list-group-item.d-flex.gap-3
    %input.form-check-input.flex-shrink-0{:style => "font-size: 1.375em;", :type => "checkbox", :value => ""}/
    %span.pt-1.form-checked-content
      %strong Weekly All Hands
      %small.d-block.text-muted
        %svg.bi.me-1{:height => "1em", :width => "1em"}
          %use{"xlink:href" => "#calendar-event"}
        2:00–2:30pm
  %label.list-group-item.d-flex.gap-3
    %input.form-check-input.flex-shrink-0{:style => "font-size: 1.375em;", :type => "checkbox", :value => ""}/
    %span.pt-1.form-checked-content
      %strong Out of office
      %small.d-block.text-muted
        %svg.bi.me-1{:height => "1em", :width => "1em"}
          %use{"xlink:href" => "#alarm"}
        Tomorrow
  %label.list-group-item.d-flex.gap-3.bg-light
    %input.form-check-input.form-check-input-placeholder.bg-light.flex-shrink-0.pe-none{:disabled => "disabled", :style => "font-size: 1.375em;", :type => "checkbox", :value => ""}/
    %span.pt-1.form-checked-content
      %span.w-100{:contenteditable => "true"} Add new task...
      %small.d-block.text-muted
        %svg.bi.me-1{:height => "1em", :width => "1em"}
          %use{"xlink:href" => "#list-check"}
        Choose list...